* , ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px solid blue; */
}
body {
    background-color: rgb(164, 165, 245);
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* min-height: 100vh;  */
}
h1 {
    text-align: center;
    color: aliceblue;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 10px solid rgb(219, 37, 37);
    border-radius: 25px;
    background-color: rgb(110, 16, 16);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 20px;
}
.gridContainer{
    background-color: white;
    display: grid;
    height: 500px;
    width: 500px;
}
.gridCells {
    /* outline: 1px solid rgb(2, 2, 2); */
   
   
    /* background-color: antiquewhite; */
}
.colored {
    background-color: rgb(3, 3, 3);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 3px solid rgb(214, 66, 66);
    background-color: rgb(214, 120, 120);
    padding: 6px 6px;
}
button{
    border: 1px solid rgb(228, 175, 175);
    padding:  14px 12px;
    border-radius: 25%;
}